<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FinanceMe TestNG Suite">
    <test name="Reference Compatibility Tests">
        <classes>
            <class name="com.financeme.account.AccountReferenceCompatibilityTest"/>
        </classes>
    </test>
</suite>